<!DOCTYPE html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script defer type="text/javascript" src="lib/vue.js"></script>
		<script defer type="text/javascript" src="lib/three.js"></script>
		<script defer type="text/javascript" src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="app.css"/>
		<title>wow.export</title>
	</head>
	<body>
		<div id="logo-background"></div>
		<div id="container" v-cloak>
			<div id="header" :class="{ shadowed: toast !== null }">
				<div id="logo">wow.export</div>
				<div id="nav">
					<template v-if="!!screen && screen.startsWith('tab-')">
						<div class="option" id="nav-models" @click="setScreen('tab-models')">Models</div>
						<div class="option" id="nav-textures" @click="setScreen('tab-textures')">Textures</div>
						<div class="option" id="nav-sounds" @click="setScreen('tab-sounds')">Audio</div>
						<div class="option" id="nav-videos" @click="setScreen('tab-video')">Videos</div>
						<div class="option" id="nav-maps" @click="setScreen('tab-maps')">Maps</div>
					</template>
					<div v-if="!isBusy" id="nav-right">
						<div title="Blender Add-On" class="option" id="nav-blender" @click="setScreen('blender', true)"></div>
						<div v-if="!!casc" title="Restart" class="option" id="nav-reload" @click="restartApplication"></div>
						<div id="nav-settings" title="Settings" class="option" @click="setScreen('config', true)"></div>
						<div id="nav-changes" title="Changelog" class="option" @click="setScreen('changelog', true)"></div>
					</div>
				</div>
			</div>
			<div id="drop-overlay" v-if="!!fileDropPrompt">
				» {{ fileDropPrompt }} «
			</div>
			<div id="content">
				<div id="loading" v-if="screen === 'loading'">
					<div id="loading-background"></div>
					<div id="loading-icon"></div>
					<span id="loading-title">{{ loadingTitle }}</span>
					<span id="loading-progress">{{ loadingProgress }}</span>
					<div id="loading-bar">
						<div :style="{ width: (loadPct * 100) + '%' }"></div>
					</div>
				</div>
				<div id="changelog" v-if="screen === 'changelog'">
					<h1>变更日汇</h1>
					<pre id="changelog-text">Loading changelog...</pre>
					<input type="button" value="Go Back" @click="showPreviousScreen"/>
				</div>
				<div id="blender-info" v-if="screen === 'blender'">
					<div id="blender-info-header">
						<h1>Installing the wow.export Add-on for Blender 2.8</h1>
						<p>Blender users can make use of our special importer add-on which makes importing advanced objects as simple as a single click. WMO objects are imported with any exported doodad sets included. ADT map tiles are imported complete with all WMOs and doodads positioned as they would be in-game.</p>
					</div>
					<div id="blender-info-buttons">
						<input type="button" value="Install Automatically (Recommended)" @click="installBlenderAddon" :class="{ disabled: isBusy }"/>
						<input type="button" value="Install Manually (Advanced)" @click="openBlenderAddonFolder"/>
						<input type="button" value="Go Back" @click="showPreviousScreen"/>
					</div>
				</div>
				<div id="config" v-if="screen === 'config'" :class="{ toastgap: toast !== null }">
					<div>
						<h1>导出路径</h1>
						<p>导出文件的保存路径</p>
						<file-field v-model="configEdit.exportDirectory"></file-field>
					</div>
					<div>
						<h1>启用共享纹理</h1>
						<p>如果启用，导出的纹理将导出到其自己的路径，而不是与其父级一起.</p>
						<p>通过不复制纹理，大大减少了使用的磁盘空间.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.enableSharedTextures"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>使用绝对MTL路径</h1>
						<p>如果启用，则MTL文件将包含绝对纹理路径，而不是相对路径。</p>
						<p>在计算机之间共享导出的模型时，这将导致问题。</p>
						<p>如果在启用共享纹理的Cinema 4D中导入模型时遇到问题，请启用此选项.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.enableAbsoluteMTLPaths"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>CASC Locale</h1>
						<p>用于文件读取的语言环境。这只会影响游戏文件.</p>
						<p>使用本地安装时，这应与客户端的语言环境匹配.</p>
						<menu-button class="spaced" :dropdown="true" :label="'%s'" :display-names="availableLocale.names" :options="availableLocaleKeys" :default="selectedLocaleKey" @change="configEdit.cascLocale = availableLocale.flags[$event]"></menu-button>
					</div>
					<div>
						<h1>导出模型碰撞信息</h1>
						<p>如果启用，则导出为OBJ的M2模型还将其碰撞导出到.phys.obj文件中.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.modelsExportCollision"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>始终覆盖现有文件 (推荐的)</h1>
						<p>导出时，即使文件存在，也将始终将其写入磁盘。</p>
						<p>禁用此功能可以加快导出速度，但是可能导致版本之间出现问题。</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.overwriteFiles"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>正则表达式过滤 (高级)</h1>
						<p>允许在过滤列表中使用正则表达式.</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.regexFilters"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Copy File Directories</h1>
						<p>默认情况下，在wow.export中的文件列表上使用CTRL + C会将路径复制到剪贴板。</p>
						<p>如果启用此选项，则仅复制所选路径的目录</p>
						<label class="ui-checkbox">
							<input type="checkbox" v-model="configEdit.copyFileDirectories"/>
							<span>Enable</span>
						</label>
					</div>
					<div>
						<h1>Cache Expiry</h1>
						<p>闲置了几天后，缓存的数据将被删除。设置为零将禁用缓存清理(不推荐的).</p>
						<input type="number" v-model.number="configEdit.cacheExpiry"/>
					</div>
					<div>
						<h1>手动清除缓存(需要重新启动)</h1>
						<p>尽管对高速缓存的内部整理大部分是自动的，但有时手动清除可以解决问题.</p>
						<input type="button" class="spaced" :value="'Clear Cache (' + cacheSizeFormatted + ')'" @click="click('cache-clear', $event)" :class="{ disabled: isBusy }"/>
					</div>
					<div>
						<h1>远程加密密钥地址</h1>
						<p>用于更新远程加密文件密钥的远程URL。（不建议）</p>
						<input type="text" v-model.trim="configEdit.tactKeysURL"/>
					</div>
					<div>
						<h1>添加加密密钥</h1>
						<p>手动添加BLTE加密密钥.</p>
						<input type="text" width="140" v-model.trim="userInputTactKeyName" maxlength="16" placeholder="e.g 8F4098E2470FE0C8"/>
						<input type="text" width="280" v-model.trim="userInputTactKey" maxlength="32" placeholder="e.g AA718D1F1A23078D49AD0C606A72F3D5"/>
						<input type="button" value="Add" @click="click('tact-key', $event)"/>
					</div>
					<div>
						<h1>资源列表</h1>
						<p>用于更新CASC列表文件的远程URL或本地路径. (必须使用相同的格式)</p>
						<input type="text" v-model.trim="configEdit.listfileURL"/>
					</div>
					<div>
						<h1>列表文件更新频率</h1>
						<p>列表文件的更新频率（以天为单位）。设置为零以始终重新下载列表文件</p>
						<input type="number" v-model.number="configEdit.listfileCacheRefresh"/>
					</div>
				</div>
				<div id="toast" v-if="toast" :class="toast.type">
					{{ toast.message }}
					<span v-for="(func, label) in toast.options" @click="handleToastOptionClick(func)">{{ label }}</span>
					<div class="close" v-if="toast.closable" @click="hideToast"></div>
				</div>
				<keep-alive>
					<div class="tab list-tab" id="tab-textures" v-if="screen === 'tab-textures'">
						<div class="list-container">
							<listbox :selection="selectionTextures" :items="listfileTextures" :filter="userInputFilterTextures" :keyinput="true" :regex="config.regexFilters" :copydir="config.copyFileDirectories"></listbox>
						</div>
						<div class="filter">
							<input type="text" v-model="userInputFilterTextures" placeholder="Filter textures..."/>
						</div>
						<div class="preview-container">
							<div class="preview-background" id="texture-preview" :style="{ 'max-width': texturePreviewWidth + 'px', 'max-height': texturePreviewHeight + 'px' }">
								<div :style="{ 'background-image': 'url(' + texturePreviewURL + ')' }"></div>
							</div>
						</div>
						<div class="preview-controls">
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.exportTextureAlpha"/>
								<span>Transparency</span>
							</label>
							<menu-button :label="'Export as %s'" :options="['PNG', 'BLP', 'JPG', 'BMP']" :default="config.exportTextureFormat" @change="config.exportTextureFormat = $event" class="upward" :disabled="isBusy" @click="click('export-texture', $event)"></menu-button>
						</div>
					</div>
				</keep-alive>
				<keep-alive>
					<div class="tab list-tab" id="tab-maps" v-if="screen === 'tab-maps'">
						<div class="list-container">
							<listbox id="listbox-maps" :selection="selectionMaps" :items="mapViewerMaps" :filter="userInputFilterMaps" :keyinput="true" :single="true" :regex="config.regexFilters" :copydir="config.copyFileDirectories"></listbox>
						</div>
						<div class="filter">
							<input type="text" v-model="userInputFilterMaps" placeholder="Filter maps..."/>
						</div>
						<map-viewer :map="mapViewerSelectedMap" :loader="mapViewerTileLoader" :tile-size="512" :zoom="10" :mask="mapViewerChunkMask" :selection="mapViewerSelection"></map-viewer>
						<div class="spaced-preview-controls">
							<input type="button" value="Export Global WMO" @click="click('export-map-wmo', $event)" :class="{ disabled: isBusy || !mapViewerHasWorldModel }"/>
							<input type="button" :value="mapViewerSelection.length > 0 ? ('Export ' + mapViewerSelection.length + ' Tiles') : 'Export Tiles'" @click="click('export-map', $event)" :class="{ disabled: isBusy}"/>
							<input type="button" :value="config.mapsShowSidebar ? 'Hide Controls' : 'Show Controls'" @click="config.mapsShowSidebar = !config.mapsShowSidebar"/>
						</div>

						<div id="maps-sidebar" class="sidebar" v-if="config.mapsShowSidebar">
							<span class="header">Export Options</span>
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.mapsIncludeWMO"/>
								<span>Export WMO</span>
							</label>
							<label class="ui-checkbox" v-if="config.mapsIncludeWMO">
								<input type="checkbox" v-model="config.mapsIncludeWMOSets"/>
								<span>Export WMO Sets</span>
							</label>
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.mapsIncludeM2"/>
								<span>Export M2</span>
							</label>
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.mapsIncludeFoliage"/>
								<span>Export Foliage</span>
							</label>
							<span class="header">Terrain Texture Quality</span>
							<menu-button :label="'%s'" :options="[-1, 0, 512, 1024, 4096, 8192, 16384]" :display-names="['Alpha Maps', 'None', 'Minimap (512)', 'Low (1k)', 'Medium (4k)', 'High (8k)', 'Ultra (16k)']" :default="config.exportMapQuality" @change="config.exportMapQuality = $event" :disabled="isBusy" :dropdown="true"></menu-button>
						</div>
					</div>
				</keep-alive>
				<keep-alive>
					<div class="tab list-tab" id="tab-models" v-if="screen === 'tab-models'">
						<div class="list-container">
							<listbox :selection="selectionModels" :items="listfileModels" :filter="userInputFilterModels" :keyinput="true" :regex="config.regexFilters" :copydir="config.copyFileDirectories"></listbox>
						</div>
						<div class="filter">
							<input type="text" v-model="userInputFilterModels" placeholder="Filter models..."/>
						</div>
						<div class="preview-container">
							<div class="preview-background" id="model-preview">
								<model-viewer :context="modelViewerContext"></model-viewer>
							</div>
						</div>
						<div class="preview-controls">
							<menu-button :label="'Export as %s'" :options="['OBJ', 'PNG', 'RAW']" :display-names="['OBJ', 'PNG (Preview Only)', 'M2 / WMO (Raw)']" :default="config.exportModelFormat" @change="config.exportModelFormat = $event" class="upward" :disabled="isBusy" @click="click('export-model', $event)"></menu-button>
							<input id="sidebar-button" type="button" :value="config.modelsShowSidebar ? 'Hide Controls' : 'Show Controls'" @click="config.modelsShowSidebar = !config.modelsShowSidebar"/>
						</div>
						<div id="model-sidebar" class="sidebar" v-if="config.modelsShowSidebar">
							<span class="header">Listing</span>
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.modelsShowM2"/>
								<span>Show M2</span>
							</label>
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.modelsShowWMO"/>
								<span>Show WMO</span>
							</label>
							<span class="header">Preview</span>
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.modelsAutoPreview"/>
								<span>Auto Preview</span>
							</label>
							<label class="ui-checkbox">
								<input type="checkbox" v-model="modelViewerAutoAdjust"/>
								<span>Auto Camera</span>
							</label>
							<template v-if="modelViewerActiveType === 'm2'">
								<span class="header">Geosets</span>
								<checkboxlist :items="modelViewerGeosets"></checkboxlist>
								<div class="list-toggles">
									<a @click="setAllGeosets(true)">Enable All</a> / <a @click="setAllGeosets(false)">Disable All</a>
								</div>
								<span class="header">Skins</span>
								<listbox :items="modelViewerSkins" :selection="modelViewerSkinsSelection" :single="true"></listbox>
							</template>
							<template v-if="modelViewerActiveType === 'wmo'">
								<span class="header">WMO Groups</span>
								<checkboxlist :items="modelViewerWMOGroups"></checkboxlist>
								<div class="list-toggles">
									<a @click="setAllWMOGroups(true)">Enable All</a> / <a @click="setAllWMOGroups(false)">Disable All</a>
								</div>
								<span class="header">Doodad Sets</span>
								<checkboxlist :items="modelViewerWMOSets"></checkboxlist>
							</template>
						</div>
					</div>
				</keep-alive>
				<keep-alive>
					<div class="tab list-tab" id="tab-video" v-if="screen === 'tab-video'">
						<div class="list-container">
							<listbox :selection="selectionVideos" :items="listfileVideos" :filter="userInputFilterVideos" :keyinput="true" :regex="config.regexFilters" :copydir="config.copyFileDirectories"></listbox>
						</div>
						<div class="filter">
							<input type="text" v-model="userInputFilterVideos" placeholder="Filter videos..."/>
							<input type="button" value="Export Selected" @click="click('export-video', $event)" :class="{ disabled: isBusy }"/>
						</div>
					</div>
				</keep-alive>
				<keep-alive>
					<div class="tab list-tab" id="tab-sounds" v-if="screen === 'tab-sounds'">
						<div class="list-container">
							<listbox :selection="selectionSounds" :items="listfileSounds" :filter="userInputFilterSounds" :keyinput="true" :regex="config.regexFilters" :copydir="config.copyFileDirectories"></listbox>
						</div>
						<div class="filter">
							<input type="text" v-model="userInputFilterSounds" placeholder="Filter sound files..."/>
						</div>
						<div id="sound-player">
							<div id="sound-player-anim" :style="{ 'animation-play-state': soundPlayerState ? 'running' : 'paused' }"></div>
							<div id="sound-player-controls">
								<div id="sound-player-info">
									<span>{{ soundPlayerSeekFormatted }}</span>
									<span class="title">{{ soundPlayerTitle }}</span>
									<span>{{ soundPlayerDurationFormatted }}</span>
								</div>
								<slider id="slider-seek" v-model="soundPlayerSeek" @input="emit('click-sound-seek', $event)"></slider>
								<div class="buttons">
									<input type="button" :value="soundPlayerState ? '&#xf04c' : '&#xf04b'" @click="click('sound-toggle', $event)"/>
									<slider id="slider-volume" v-model="config.soundPlayerVolume"></slider>
								</div>
							</div>
						</div>
						<div class="preview-controls">
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.soundPlayerLoop"/>
								<span>Loop</span>
							</label>
							<label class="ui-checkbox">
								<input type="checkbox" v-model="config.soundPlayerAutoPlay"/>
								<span>Autoplay</span>
							</label>
							<input type="button" value="Export Selected" @click="click('export-sound', $event)" :class="{ disabled: isBusy }"/>
						</div>
					</div>
				</keep-alive>
				<div id="source-select" v-if="screen === 'source-select'">
					<div id="source-local" :class="{ disabled: !!availableLocalBuilds }" @click="click('source-local', $event)">
						<template v-if="availableLocalBuilds">
							<div class="source-builds">
								<span>Select Build</span>
								<input v-for="(build, i) in availableLocalBuilds" @click.stop="click('source-build', $event, i)" :class="{ disabled: isBusy }" type="button" :value="build"/>
								<span @click.stop="availableLocalBuilds = null" class="link">Cancel</span>
							</div>
						</template>
						<template v-else>
							<div class="source-icon"></div>
							<div class="source-text">
								Open Local Installation
								<span>(Recommended)</span>
								<ul id="source-recent" v-if="config.recentLocal && config.recentLocal.length > 0">
									<li>Recent</li>
									<li v-for="entry in config.recentLocal" class="link" @click.stop="click('source-local-recent', $event, entry)">{{ entry.path }} ({{ getProductTag(entry.product) }})</li>
								</ul>
							</div>
						</template>
					</div>
					<div id="source-remote" :class="{ disabled: !!availableRemoteBuilds }" @click="click('source-remote', $event)">
						<template v-if="availableRemoteBuilds">
							<div class="source-builds">
								<span>Select Build</span>
								<input v-for="(build, i) in availableRemoteBuilds" @click.stop="click('source-build', $event, i)" :class="{ disabled: isBusy }" type="button" :value="build"/>
								<span @click.stop="availableRemoteBuilds = null" class="link">Cancel</span>
							</div>
						</template>
						<template v-else>
							<div class="source-icon"></div>
							<div class="source-text">
								Use Blizzard CDN
								<ul id="source-cdn">
									<li v-for="region in cdnRegions" :class="{ selected: selectedCDNRegion === region }" @click.stop="setSelectedCDN(region)">
										{{ region.tag.toUpperCase() }}
										<span v-if="region.delay !== null">{{ region.delay < 0 ? 'N/A' : region.delay + 'ms' }}</span>
									</li>
								</ul>
							</div>
						</template>
					</div>
				</div>
			</div>
			<div id="footer">
				<template v-if="screen === 'config'">
					<div id="config-buttons">
						<input type="button" value="Discard" :class="{ disabled: isBusy }" @click="click('config-discard', $event)"/>
						<input type="button" value="Apply" :class="{ disabled: isBusy }" @click="click('config-apply', $event)"/>
						<input type="button" id="config-reset" value="Reset to Defaults" :class="{ disabled: isBusy }" @click="click('config-reset', $event)"/>
					</div>
				</template>
				<template v-else>
					<span id="footer-links">
						<a data-external="https://discord.gg/52mHpxC">Discord</a> - 
						<a data-external="https://patreon.com/Marlamin">Patreon</a> - 
						<a data-external="https://wow.tools/export/">About</a> - 
						<a data-external="https://github.com/Kruithne/wow.export">GitHub</a>
					</span>
					<span id="footer-copyright">
						World of Warcraft and related trademarks are registered trademarks of Blizzard Entertainment whom this application is not affiliated with.
					</span>
				</template>
			</div>
		</div>
		<noscript>
			<div id="crash-screen">
				<h1>Oh no! The kakapo has exploded...</h1>
				<div id="crash-screen-versions">
					<span id="crash-screen-version">???</span>
					<span id="crash-screen-flavour">???</span>
					<span id="crash-screen-build">???</span>
				</div>
				<div id="crash-screen-text">
					<span id="crash-screen-text-code">ERR_BROKEN:</span>
					<span id="crash-screen-text-message">Something went so terribly wrong that we don't even have an error message.</span>
				</div>
				<div class="form-tray">
					<input type="button" value="Report Issue" data-external="https://github.com/Kruithne/wow.export/issues"/>
					<input type="button" value="Get Help on Discord" data-external="https://discord.gg/52mHpxC"/>
					<input type="button" value="Restart Application" onclick="chrome.runtime.reload()"/>
				</div>
				<textarea id="crash-screen-log">No runtime log available.</textarea>
			</div>
		</noscript>
	</body>
</html>
